.zf-round-panel{
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #999;
	behavior: url('/static/zerometer/en/current/pie.htc');	/* For IE < 9 css3 features */
}